
//desktop lg xl xxl
 @media (min-width: 992px){   

    body{
        height: 100vh;
    }
    nav{
        height: 10vh;
    }
    main{
        height: 85vh;
    }
    footer{
        height: 5vh;
    }
    .index-main{
        background-image: url("../imagenes/background.jpg");
        background-position: 0% 0%;
        img{grid-area: logo;}
        h1{grid-area: texto;}
    }
    main section div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .miCentrado{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }
        
    .index-main{
        display: grid;
        grid-template-areas: 
        "logo texto";
        grid-template-rows: 80%;
        grid-template-columns: 50% 50%;
    }}
        //mobile m s xs
    @media (max-width: 991px){

        body{
            height: 150vh;
        }
        nav{
            height: 35vh;
        }
        main{
            height: 100vh;
        }
        footer{
            height: 15vh;
        }

        .miCentrado{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
    
        .index-main{
            display: grid;
            grid-template-areas: 
            "logo" 
            "texto";
            grid-template-rows: 30% 30%;
            grid-template-columns: 100%;
            background-image: url(imagenes/backgroundrec.jpg);
            background-position: 100% 100%;                    
        }

        main section{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            article{
                height: 150%;
                justify-content: center;
            }
    }
}
