@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



/*-Colores-*/
.miVerde{
    color: rgb(96, 123, 44);
}
.miVerdeFondo{
    background-color: rgb(96, 123, 44);
}
.miBlanco{
    color: white;
}


/*-ElementosGenerales-*/

body header nav a:hover{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px #00000080;
}
.nav-link:hover, .nav-link:focus {
    color: #000000;
  }

footer{
    background-color: rgb(96, 123, 44);
}
footer p{
    text-transform: uppercase;
    margin-top: 10px;
}
/*---FUENTES---*/
.liviana{
    font-weight: 300;
}
.pesada{
    font-weight: 800;
}
.cursiva{
    font-style: italic;
}

/*---index---*/
 main section article img{
    grid-area: logo;
    height: 50%;
    width: auto;
    opacity: 50%;
    -webkit-animation: fade-in-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
 }
 @media (min-width: 992px){
    main section div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
 }
 @media (max-width: 991px){
    main section article{
        height: 150%;
        justify-content: center;
    }
 }
    main section article{
    
    display: flex;
    
    align-items: center;
}
 main section div p{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2%;
    border-radius: 10px;
    
 }
 main section div p a{
    text-decoration: none;
    color: rgba(127, 255, 212, 0.6);
 }
 
@media (min-width: 992px){
.miCentrado{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .index-main{
    display: grid;
    grid-template-areas: 
    "logo texto";
    grid-template-rows: 80%;
    grid-template-columns: 50% 50%;
}
main{
    background-image: url(imagenes/backgroundrec.jpg);
    background-size: 100%;
    height: 100%;
    width: 100%;
}
.imagendelindex{
    display: flex;
    position: relative; left: 20%;
}
main section div p{
        width: 80%;
        height: 15%;
    }
}

@media (max-width: 991px){
    .miCentrado{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .index-main{
        display: grid;
        grid-template-areas: 
        "logo" "texto";
        grid-template-rows: 30% 30%;
        grid-template-columns: 100%;
    }
    main{
        background-image: url(imagenes/background.jpg);
        background-size: 100%;
        height: 100%;
        width: 100%;
    }
    main section{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
}}

/*---ANIMACIONES---*/
/*animacion logo entrada*/
@-webkit-keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 0.5;
    }
  }
/*---comodidades---*/
body header nav a img{
    height: 30px;
}
body header nav a img:hover{
    color: #000000;
}
main section article{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 30px 0px;
    position: relative; top: 100px;

}
main section p{
    padding: 2%;
}
.tamanoLogos{
    width: 50px;
}
.fondoInocuo{
    background-image: url(imagenes/background.jpg);
    background-size: 100%;
    height: 100%;
    width: 100%;
    width: auto;
}
#textoComodidades{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
/*---PlayaVede---*/
body header nav a img{
    height: 30px;
}
body header nav a img:hover{
    color: #000000;
}
.fondoInocuo{
    background-image: url(imagenes/background.jpg);
    background-size: 100%;
    height: 100%;
    width: 100%;
    width: auto;
}
.textoPlayaVerde{
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
main section iframe{
border: rgb(96, 123, 44) solid 5px;
}
main section img{
border: rgb(96, 123, 44) solid 5px;
}
/*---Galeria---*/
body header nav a img{
    height: 30px;
}
body header nav a img:hover{
    color: #000000;
}
.fondoInocuo{
    background-image: url(imagenes/background.jpg);
    background-size: 100%;
    height: 100%;
    width: 100%;
    width: auto;
}
.miCarrusel{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

/*---Contacto---*/
body header nav a img{
    height: 30px;
}
body header nav a img:hover{
    color: #000000;
}
.fondoInocuo{
    background-image: url(imagenes/background.jpg);
    background-size: 100%;
    height: 100%;
    width: 100%;
    width: auto;
}
.contacto-formulario label{
    grid-area: label;
}
.contacto-formulario input{
    grid-area: input;
}
.contacto-formulario{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px 40px 40px 40px 40px;
    grid-template-areas: 
    "label input"
    "label input"
    "label input"
    "label input"
    "label input";
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---MediaQueries---*/

/*lg xl xxl*/
@media (min-width: 992px){
    body{
        height: 100vh;
    }
    nav{
        height: 10vh;
    }
    main{
        height: 85vh;
    }
    footer{
        height: 5vh;
    }
}

/*m s xs*/

@media (max-width: 991px){
    body{
        height: 150vh;
    }
    nav{
        height: 35vh;
    }
    main{
        height: 100vh;
    }
    footer{
        height: 15vh;
    }}