#playa--verde{
    header nav a img{
        height: 30px;
    }
    header nav a img:hover{
        color: #000000;
    }
    
    main{
        background-image: url("../imagenes/background.jpg");
        background-position: 0% 0%;
        div{
                background-color: rgba(255, 255, 255, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
        }
        @media (max-width: 991px){
            section{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
            }
            iframe{
                border: rgb(96, 123, 44) solid 5px;
            }
            img{
                border: rgb(96, 123, 44) solid 5px;
            }
        }
        @media (min-width: 992px){
            section{
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }
        iframe{
            border: rgb(96, 123, 44) solid 5px;
        }
        img{
            border: rgb(96, 123, 44) solid 5px;
            width: 300px;
            height: 200px;
        }

        }
        
    }
}